<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>YogiMePositive</title>
     <link rel="stylesheet" href="css/style.css">
     <link rel="shortcut icon" href="images/faviconTEST1.png" />
  </head>
<body id = "about">
<h1 id = "abouthead">About YogiMePositive</h1>
<hr>
<img src="images/YogiMePosititve Creators.jpg" alt="Creators" style="width:304px;height:228px;">
<p>Created by Lucy, Isabela and Gray. @KWK NYC 2017</p>
<hr>
<h2>Why we made this?

During our two weeks at Kode With Klossy, we learned ruby, html, css and sinatra! One of the best lessons was something beyond learning to code: empowerment. Now we know that anything is possible, all you need is to work hard and have a positive attitude! And what better way than to have this website! Thank you to all our teachers, ta's and of course Karlie Kloss!
</h2>

<h2>This page was made for people who want to peace out and take a breather. So take 5 and smile!</h2>
	


  </body>
</html>