<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>YogiMePositive</title>
     <link rel="stylesheet" href="css/style.css">
     <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  </head>
  <link rel="shortcut icon" href="images/faviconTEST1.png" />
  <body>
  
  <section class="questionaire">
  <form method="POST" action= '/results'>
          <h3>How much time do you have?</h3>
          <input type="radio" name="time" value="five" checked> 5 minutes
          <input type="radio" name="time" value="ten"> 10 minutes
          <input type="radio" name="time" value="fifteen"> 15 minutes<br>
          
          <h3>What activity do you want?</h3>
          <input type="radio" name="activity" value="yoga"checked> Yoga
          <input type="radio" name="activity" value="core"checked> Core
          <input type="radio" name="activity" value="meditation"> Meditation<br><br>
          <input type="submit">
  </form>
  </section>
  
  </body>
</html>